body {
    background-color: #D5E1EF;
    font-family: cursive;
    text-align: center;
}

.card {
    height: 460px;
    width: 100%;
    max-width: 300px;
    background-color: white;
    position: fixed;
    margin: auto;
    inset: 0;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 15px;
    padding-bottom: 60px;
}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: #1C2C45;
}

p {
    color: #ABAEB9;
}

